@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Libre Caslon Text'; /* The first font family name you added in tailwind.config.js */
  src: url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text&display=swap') format('truetype'); /* Adjust the path and format as needed */
  /* Add more src lines for different formats (e.g., woff, woff2) to support different browsers */
}

@font-face {
  font-family: 'Montserrat'; /* The second font family name you added in tailwind.config.js */
  src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap') format('truetype'); /* Adjust the path and format as needed */
  /* Add more src lines for different formats (e.g., woff, woff2) to support different browsers */
}
